.meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 30px auto;
}

.meal-details img {
    max-height: 300px;
    max-width: 300px;
}

@media only screen and (max-width: 600px) {
    .meal-details {
        width: 90%;
    }
}