.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    justify-content: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: rgb(190, 57, 190);
}

@media only screen and (max-width: 992px) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}